<div class="umb-pane unesting-editor-pane" ng-class="{ 'has-settings': settingsProperties.length > 0 }">
  <div class="unesting-editor-pane-content">
    <div ng-repeat="property in contentProperties" class="umb-nested-content-property-container">

      <umb-property property="property" unesting-property="{{property.propertyAlias}}" ng-class="{'umb-nested-content--not-supported': property.notSupported}">
        <umb-property-editor model="property"></umb-property-editor>
      </umb-property>

      <div ng-if="property.notSupported" class="umb-nested-content-overlay"></div>
      <p ng-if="property.notSupported">{{property.notSupportedMessage}}</p>

    </div>
  </div>

  <div class="unesting-editor-pane-settings" ng-if="settingsProperties.length > 0">
    <div ng-repeat="property in settingsProperties" class="umb-nested-content-property-container">

      <umb-property property="property" unesting-property="{{property.propertyAlias}}" ng-class="{'umb-nested-content--not-supported': property.notSupported}">
        <umb-property-editor model="property"></umb-property-editor>
      </umb-property>

      <div ng-if="property.notSupported" class="umb-nested-content-overlay"></div>
      <p ng-if="property.notSupported">{{property.notSupportedMessage}}</p>

    </div>
  </div>
</div>