

/* item */

.unesting-item
{
  position: relative;
  text-align: left;
  background: #fff;
}

.unesting-item.ui-sortable-placeholder
{
  background: #f3f3f5;
  border: 1px solid #e9e9eb;
  visibility: visible !important;
  height: 55px;
  margin-top: -1px;
}

.unesting-items
{
  margin-top: -15px;
}
/*.unesting-item .unesting-items
{
  background-color: #f9f7f7;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}*/
/* header */
.unesting-item-header
{
  border-bottom: 1px solid #f6f6f7;
  cursor: pointer;
  background-color: #fff;
  user-select: none;
  position: relative;
}

.unesting-item.is-active > .unesting-item-header:after,
.unesting-item.is-active > .unesting-item-header:before
{
  position: absolute;
  content: ' ';
  display: inline-block;
  left: 5px;
  bottom: -19px;
  border: 10px solid transparent;
  border-top-color: white;
  width: 0;
  height: 0;
}

.unesting-item.is-active > .unesting-item-header:before
{
  bottom: -21px;
  border-top-color: #e9e9eb;
}

.unesting-item:last-child .unesting-item-header
{
  border-bottom: none;
}

.unesting-item-header-inner
{
  line-height: 20px;
  position: relative;
  margin-top: 1px;
  padding: 15px 5px;
  color: #1b264f;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  background: none;
}

/*.unesting-item:nth-child(2n+1) .unesting-item-header-inner
{
  background: #faf9f9;
}*/

.unesting-item-header-inner > i
{
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 3px;
  font-size: 1.4rem;
  z-index: 1;
}

.unesting-item-header-content.--has-icon
{
  margin-left: 40px;
  padding-left: 20px;
  border-left: 1px solid #f6f6f7;
}

.unesting-item-header-content-iconbg
{
  display: none;
  position: absolute;
  left: -46px;
  width: 46px;
  top: -16px;
  background: #faf9f9;
  z-index: 0;
  bottom: -15px;
}

.unesting-item-header:hover .unesting-item-header-inner .unesting-item-header-content
{
  padding-right: 130px;
}

.unesting-item-header-content
{
  line-height: 20px;
  color: #1b264f;
  white-space: nowrap;
  position: relative;
}

.unesting-item-header-content-name
{
  max-height: 20px;
  font-weight: 600;
  font-size: 14px;
}

.unesting-item-header-content-text
{
  color: #817f85;
  font-size: 13px;
  overflow: hidden;
  margin-top: 4px;
  display: block;
  line-height: 18px;
}

/* icons */

.unesting-icons
{
  opacity: 0;
  transition: opacity .12s ease-in-out;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 5px;
  margin-top: -22px;
  display: flex;
  grid-gap: 8px;
}

.unesting-item-header:hover .unesting-icons
{
  opacity: 1;
}

.unesting-icon
{
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e9e9eb;
  cursor: pointer;
  color: #1b264f;
  transition: background 0.12s ease;
}

.unesting-icon:hover
{
  background: #f6f4f4;
  color: #2152a3;
  text-decoration: none;
}

.unesting-icon.is-more i
{
  font-size: 4px;
  line-height: 4px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #1b264f;
  display: inline-block;
  margin: 0 1px;
  opacity: .6;
  position: static;
}

.unesting-icon .icon
{
  font-size: 0.9rem;
}

.unesting-icon--disabled
{
  opacity: .3;
}

.unesting-more-container
{
  position: relative;
}

.unesting-more-dropdown
{
  right: 0;
  left: auto;
}


/* content */

.unesting-content .unesting-item-header,
.unesting-content .unesting-item
{
  background: none;
}

.unesting-content > .umb-pane
{
  margin: 30px 20px;
}

.unesting-item.is-active > .unesting-content
{
  background: #faf9f9;
  margin: 0 -20px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-top: 1px solid #e9e9eb;
}

.unesting-content .unesting-item.is-active > .unesting-content
{
  background: white;
  margin: 0 -20px;
  border-left: 1px solid #e9e9eb;
}

.unesting-item.is-active > .unesting-item-header
{
  border-bottom: none;
}


/* media */
.unesting-media
{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.unesting-media-item
{
  border-radius: 3px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.unesting-media-item.has-title
{
  margin-right: 12px;
}

.unesting-media-item-image
{
  background: #f6f4f4;
  border-radius: 3px;
  border: 1px solid #f6f6f7;
}

.unesting-media-item-text
{
  padding: 0 10px;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.unesting-media-more
{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: #f6f4f4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 3px;
}


/* footer */
.unesting-footer
{
  text-align: left;
}

.unesting-items:not(.is-hidden) + .unesting-footer
{
  margin-top: 20px;
}


/* doctypepicker */
.unesting-doctype-textarea
{
  width: 100%;
  height: 32px;
  max-height: 200px;
  min-height: 32px;
  padding-top: 6px;
  resize: vertical;
}


/* data type overrides */
.unesting-item .umb-sortable-thumbnails li
{
  /*background: none;*/
}


/* generic overrides */

.btn-info
{
  color: #454957;
}

.btn
{
  font-size: 14px;
}