

/* item */

.unesting-item
{
  position: relative;
  text-align: left;
  background: #fff;
}

.unesting-item.ui-sortable-placeholder
{
  background: #f3f3f5;
  border: 1px solid #e9e9eb;
  visibility: visible !important;
  height: 55px;
  margin-top: -1px;
}

.unesting-items
{
  /*margin-top: -15px;*/
}
/*.unesting-item .unesting-items
{
  background-color: #f9f7f7;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}*/
/* header */
.unesting-item-header
{
  border-bottom: 1px solid #f6f6f7;
  cursor: pointer;
  background-color: #fff;
  user-select: none;
  position: relative;
}

.unesting-item.is-hidden .unesting-item-header .unesting-icons > .hidden-toggle
{
  opacity: 1;
  color: #d42054;
}

.unesting-item.is-hidden .unesting-item-header-content,
.unesting-item.is-hidden .unesting-item-header-inner > i
{
  opacity: 0.4;
}

/*.unesting-item.is-hidden .unesting-item-header-content-text
{
  display: none;
}*/

.unesting-item.is-active > .unesting-item-header:after,
.unesting-item.is-active > .unesting-item-header:before
{
  position: absolute;
  content: ' ';
  display: inline-block;
  left: 36px;
  bottom: -19px;
  border: 10px solid transparent;
  border-top-color: white;
  width: 0;
  height: 0;
}

.unesting-item.is-active > .unesting-item-header:before
{
  bottom: -21px;
  border-top-color: #e9e9eb;
}

.unesting-content .unesting-item.is-active > .unesting-item-header:after
{
  border-top-color: #faf8f8;
}

/*.unesting-item:last-child .unesting-item-header
{
  border-bottom: none;
}*/

.unesting-item-header-inner
{
  line-height: 20px;
  position: relative;
  margin-top: 1px;
  padding: 20px 0;
  color: #1b264f;
  border-radius: 3px 3px 0 0;
  border-bottom: none;
  background: none;
}

/*.unesting-item:nth-child(2n+1) .unesting-item-header-inner
{
  background: #faf8f8;
}*/

.unesting-item-header-inner > i
{
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 3px;
  font-size: 1.4rem;
  z-index: 1;
}

.unesting-item-header-content.--has-icon
{
  margin-left: 40px;
  padding-left: 20px;
  border-left: 1px solid #f6f6f7;
}

.unesting-item-header-content-iconbg
{
  display: none;
  position: absolute;
  left: -46px;
  width: 46px;
  top: -16px;
  background: #faf8f8;
  z-index: 0;
  bottom: -15px;
}

.unesting-item-header:hover .unesting-item-header-inner .unesting-item-header-content
{
  padding-right: 130px;
}

.unesting-item-header-content
{
  line-height: 20px;
  color: #1b264f;
  white-space: nowrap;
  position: relative;
}

.unesting-item-header-content-name
{
  max-height: 20px;
  font-weight: 600;
  font-size: 14px;
}

.unesting-item-header-content-text
{
  color: #817f85;
  font-size: 13px;
  overflow: hidden;
  margin-top: 4px;
  display: block;
  line-height: 20px;
}

.unesting-item-header.no-label .unesting-item-header-content-name
{
  display: none;
}

.unesting-item-header.no-label .unesting-item-header-content-text
{
  margin-top: 0;
}

.unesting-item-header.as-columns .unesting-item-header-content-text
{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 12px;
}

un-config
{
  display: none !important;
}

/* icons */

.unesting-icons
{
  position: absolute;
  right: 0;
  top: 50%;
  padding: 5px;
  margin-top: -22px;
  display: flex;
  grid-gap: 8px;
}

.unesting-icons > *
{
  transition: opacity .12s ease-in-out;
  opacity: 0;
}

.unesting-item-header:hover .unesting-icons > *
{
  opacity: 1;
}

.unesting-icon
{
  display: flex;
  flex-direction: row;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e9e9eb;
  cursor: pointer;
  color: #1b264f;
  transition: background 0.12s ease;
}

.unesting-icon.is-negative:hover
{
  color: #d42054;
}

.unesting-icon:hover
{
  background: #f6f4f4;
  color: #2152a3;
  text-decoration: none;
}

.unesting-icon.is-more i
{
  font-size: 4px;
  line-height: 4px;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #1b264f;
  display: inline-block;
  margin: 0 1px;
  opacity: .6;
  position: static;
}

.unesting-icon .icon
{
  font-size: 0.9rem;
}

.unesting-icon--disabled
{
  opacity: .3;
}

.unesting-more-container
{
  position: relative;
}

.unesting-more-dropdown
{
  right: 0;
  left: auto;
}


/* content */

.unesting-content .unesting-item-header,
.unesting-content .unesting-item
{
  background: none;
}

.unesting-content > .umb-pane
{
  margin: 30px 20px;
}

.unesting-item.is-active > .unesting-content
{
  background: #faf8f8;
  margin: 0 -20px 0 0;
  border-left: 1px solid #e9e9eb;
  border-right: none;
  border-radius: 0;
  border-top: 1px solid #e9e9eb;
}

.hidelabel .unesting-item.is-active > .unesting-content
{
  margin: 0 -20px;
  border-left: none;
}

.unesting-content .unesting-item.is-active > .unesting-content
{
  background: white;
  margin: 0 -20px 0 0;
  border-left: 1px solid #e9e9eb;
}

.unesting-item.is-active > .unesting-item-header
{
  border-bottom: none;
}


/* nested content in nested content */

.unesting-item .unesting-item .unesting-item-header-content.--has-icon
{
  border-left-color: #e9e9eb;
}

.unesting-item .unesting-item .unesting-item-header
{
  border-bottom-color: #e9e9eb;
}


/* media */

.unesting-media
{
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

.unesting-media-item
{
  background: #f6f4f4;
  border-radius: 4px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}

.unesting-media-item.has-title
{
  margin-right: 12px;
}

.unesting-media-item-image
{
  background: #f6f4f4;
  border-radius: 4px;
  border: 1px solid #f6f6f7;
}

.unesting-media-item-text
{
  padding: 0 15px;
  max-width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.unesting-media-more
{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background: #f6f4f4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
}

[unesting-size="large"] .unesting-media-more,
[unesting-size="high"] .unesting-media-more
{
  width: 100px;
  height: 100px;
}


/* text partial */

.unesting-text
{
  white-space: normal;
  max-width: 800px;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unesting-text-partial:before
{
  content: ' – ';
}

.unesting-text-partial:first-child:before
{
  display: none;
}


/* boxes */

.unesting-boxes
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  grid-gap: 12px;
  margin-top: 4px;
  white-space: normal;
}

.unesting-boxes-item,
.unesting-boxes-more
{
  background: #f6f4f4;
  border-radius: 4px;
  width: 180px;
  min-height: 60px;
  max-height: 65px;
  padding: 10px 15px;
  display: block;
}

.unesting-boxes-item-headline
{
  display: block;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #1b264f;
  height: 20px;
  overflow: hidden;
  margin-bottom: 5px;
}

.unesting-boxes-item-text
{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  max-height: 40px;
}

.unesting-boxes-more
{
  width: 50px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

[unesting-size="large"] .unesting-boxes-item,
[unesting-size="large"] .unesting-boxes-more
{
  min-height: 120px;
  max-height: 125px;
}


/* footer */
.unesting-footer
{
  text-align: left;
}

.unesting-items:not(.is-hidden) + .unesting-footer
{
  margin-top: 20px;
}


/* figure */

.unesting-figure
{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 12px;
  max-width: 800px;
}

.unesting-figure un-media
{
  flex-shrink: 0;
}

.unesting-figure-content
{
  margin-top: 2px;
  max-width: 800px;
}

.unesting-figure-headline
{
  display: block;
  font-size: 14px;
  color: #1b264f;
  font-weight: 600;
  margin-bottom: 4px;
}

.unesting-figure-text
{
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  max-height: 40px;
  white-space: normal;
}


/* doctypepicker */
.unesting-doctype-textarea
{
  width: 100%;
  height: 64px;
  max-height: 200px;
  min-height: 32px;
  padding-top: 6px;
  resize: vertical;
}


/* settings */

.umb-property[unesting-property="uNestingHide"]
{

}


/* editor */

.unesting-editor-pane.has-settings
{
  display: grid;
  grid-template-columns: 1fr 300px;
}

.unesting-editor-pane-settings
{
  border-left: 1px solid #e9e9eb;
  padding-left: 20px;
  margin-left: 20px;
}


/* data type overrides */

.unesting-item[unesting-alias="headline"] .unesting-text-partial[unesting-index="0"],
.unesting-item[unesting-alias="newsletterHeadline"] .unesting-text-partial[unesting-index="0"]
{
  font-size: 16px;
  color: #1b264f;
  font-weight: 600;
}

.unesting-item[unesting-alias="offset"] .unesting-item-header-content-name,
.unesting-item[unesting-alias="newsletterOffset"] .unesting-item-header-content-name
{
  color: #817f85;
  font-size: 13px;
  font-weight: 400;
}

.unesting-item[unesting-alias="citation"] .unesting-figure-headline:before
{
  content: '„';
}

.unesting-item[unesting-alias="citation"] .unesting-figure-headline:after
{
  content: '“';
}


/* generic overrides */

.btn-info
{
  color: #454957;
}

.btn
{
  font-size: 14px;
}

.tabLink.active::before
{
  display: none;
}

.tabLink:not(.active)
{
  background: rgba(255,255,255,0.5);
  font-weight: 400;
}